body {
    text-align: center;
    width: 100%;
    justify-content: center;
}

.button {
    height: 5rem;
    width: 5rem;
    margin: .2rem;
    margin: .2rem;
    border: 2px solid black;
    float: left;
}

#gray {
    background-color: gray;
}

#white {
    background-color: white;
}

#blue {
    background-color: blue;
}

#yellow {
    background-color: yellow;
}

#purple {
    background-color: purple;
}
h2{
    display: inline-block;
}